<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  	<!-- Servlets -->
 	<servlet>
      	<servlet-name>SearchBio2RDFLuceneServlet</servlet-name>
        <servlet-class>bio2rdflucene.server.SearchBio2rdfServlet</servlet-class>
        <init-param>
        	<param-name> datasetIndex </param-name>
        	<param-value>/home/alison/sgd_index</param-value>
        </init-param>
        <init-param>  
	    	<param-name> registryIndex </param-name>  
            <param-value>/home/alison/registry_index</param-value>  
        </init-param> 
		<init-param>
	    	<param-name> nsList </param-name>
            <param-value>/home/alison/nslist.txt</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
  	</servlet>
    
    <servlet-mapping>
      <servlet-name>SearchBio2RDFLuceneServlet</servlet-name>
      <url-pattern>/search</url-pattern>
  	</servlet-mapping>

  	<!-- Default page to serve -->
  	<welcome-file-list>
    	<welcome-file>bio2rdflucene.html</welcome-file>
 	</welcome-file-list>
</web-app>